@model IEnumerable<ArticleViewModel>

<div class="row mb-2">
<a asp-controller="Article"
   asp-action="Add" class="btn btn-sm btn-primary">Ajouter</a>
</div>

<div class="row">
    @foreach(var article in Model){
        <div class="card col-sm-4">
            <img class="card-img-top" src="@article.ImagePath" alt="">
            <div class="card-body">
                <h5 class="card-title">
                    @article.Name
                </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="text-center">
                    <a asp-controller="Article"
                       asp-action="Detail" asp-route-id="@article.Id"><i class="far fa-eye fa-2x"></i></a>
                    <a href="#" onclick="deleteArticle(@article.Id)"><i class="fas fa-trash-alt fa-2x"></i></a>
                </div>
            </div>
        </div>        
    }
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        function deleteArticle(id) {
            if (id) {
                bootbox.confirm({
                    message: "Voulez-vous supprimer cet article ?",
                    buttons: {
                        confirm: {
                            label: 'Oui',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'Non',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: `/Article/Delete/${id}`,
                                type: 'DELETE',
                                success: function (result) {
                                    toastr.success("yeah");
                                },
                                error: function (request, msg, error) {
                                    toastr.error("ooohhh");
                                }
                            });
                            
                        }
                        
                    }
                });
            }
        };
    </script>
}