@model IEnumerable<ArticleViewModel>

<ul>
    @foreach(var article in Model){
        <li>
            @article.Name
            <a asp-controller="Article"
                asp-action="Detail" asp-route-id="@article.Id">View</a>
                <a asp-controller="Article"
                asp-action="Delete" asp-route-id="@article.Id">Delete</a>
        </li>
    }
</ul>